
/* 
    Created on : Feb 28, 2018, 8:16:33 PM
    Author     : max_d
*/

body {
  font-family: helvetica;
  background-color: #000000;
  color: #000000;
  text-align: center;
}

footer {
      color: red;
}